@page "/Post/{id:int}"
@using System.Net
@using ClientRepository.Utils
@model JobSeekingClient.Pages.PostDetailModel
@{
    ViewData["Title"] = "Post Detail";
}
@{
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
}
<style>
    .skill-item {
        display: flex;
        flex-wrap: wrap;
    }

        .skill-item span {
            display: inline-block;
            margin: 5px;
            border: 1px solid black;
            padding: 5px;
            border-radius: 5px;
        }

</style>
<h4>Post Detail</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Category)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Category)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PostSkills)
    </dt>
    <dd class="col-sm-10 skill-item">
        @{
            if (Model.PostSkills != null && Model.PostSkills.Count() > 0)
            {
                foreach (var postSkill in Model.PostSkills)
                {
                    <span>@postSkill.SkillName</span>
                }
            }
        }
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Location)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Location)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Level)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Level)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post.CreateDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.CreateDate, "MM/dd/yyyy")
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post.StartDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.StartDate, "MM/dd/yyyy")
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post.EndDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.EndDate, "MM/dd/yyyy")
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post.Amount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.Amount)
    </dd>
</dl>
@{
    if (Model.OldApplication != null)
    {
        string url = $"../CV/{Model.OldApplication.Id}";
        <a href="@url"> View Applied CV</a>
    }
    if (Model.CanApply)
    {
        <form method="post" , enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">CV File</label>
                <input class="form-control" type="file" accept=".pdf" name="cvFile" id="formFile">
            </div>
            <input class="btn btn-primary" asp-page-handler="Apply" type="submit" value="Apply">
        </form>
    }
}