@page
@model JobSeekingClient.Pages.Accounts.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1>My Profile</h1>
<style>
    .skill-item {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-item span {
        display: inline-block;
        margin: 5px;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
    }

</style>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserSkill)
        </dt>
        <dd class="col-sm-10 skill-item">
            @foreach (var item in Model.Skills)
            {
                <span>@item.Name</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./UserEdit" asp-route-id="@Model.Account?.Id">Edit</a> |
    @{
        var role = HttpContext.Session.GetInt32("Role");
        if(role==3)
        {
            <a asp-page="/Interviews/HomePageInterviewer">Back to List</a>
        }
        if(role==4)
        {
            <a asp-page="/Home">Back to List</a>
        }
    }
        
</div>

