@page
@model JobSeekingClient.Pages.Home.HomeModel
@{
    var userRole = HttpContext.Session.GetInt32("Role");
    @if (userRole == 2)
    {
        <a asp-page="/Post/Create">New Post</a>
    }
    //if news mode is on
    if (Model.isNews)
    {
        <h1>News Page</h1>

        switch (userRole)
        {
            case 1:
                {

                    break;
                }
            case 2:
                {
                    //for HR to assign interviews
                    if (Model._applications.Count != 0)
                    {

                        <span class="text-danger">@ViewBag.message1</span>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].CV)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].ApplicantId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].PostId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].Status)
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model._applications)
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="/CV/ViewCv" asp-route-id="@item.Id">View</a>
                                        </td>
                                        <td>
                                            <a asp-page="/Accounts/Details" asp-route-id="@item.ApplicantId">View Applicant</a>
                                        </td>
                                        <td>
                                            <a asp-page="/Post/PostDetail" asp-route-id="@item.PostId">View post</a>
                                        </td>
                                        <td>
                                            @{
                                                switch (item.Status)
                                                {
                                                    case null:
                                                        {
                                                            <text>Pending</text>
                                                            break;
                                                        }
                                                    case true:
                                                        {
                                                            <text>Passed</text>
                                                            break;
                                                        }
                                                    case false:
                                                        {
                                                            <text>Failed</text>
                                                            break;
                                                        }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a asp-page="/Applications/Details" asp-route-id="@item.Id">Details</a> |
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    //for HR to accept/deny
                    if (Model._applications2.Count != 0)
                    {
                        <span class="text-danger">@ViewBag.message2</span>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].CV)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].ApplicantId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].PostId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model._applications[0].Status)
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model._applications2)
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="/CV/ViewCv" asp-route-id="@item.Id">View</a>
                                        </td>
                                        <td>
                                            <a asp-page="/Accounts/Details" asp-route-id="@item.ApplicantId">View applicant</a>
                                        </td>
                                        <td>
                                            <a asp-page="/Post/PostDetail" asp-route-id="@item.PostId">View post</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <a asp-page="/Applications/Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-page="/Applications/IndexOnPost" asp-route-postId="@item.PostId">View Applications</a> |
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    break;
                }
            case 3:
                {
                    //for Interviewerer
                    if (Model._interviews.Count() != 0)
                    {
                        if (@ViewBag.message1 == null)
                        {
                            <div>No pending interview was found!</div>
                        }
                        else
                        {
                            <span class="text-danger">@ViewBag.message1</span>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model._interviews[0].Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model._interviews[0].Slot.StartTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model._interviews[0].Slot.EndTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model._interviews[0].Interviewer.FirstName)
                                        </th>
                                        <th>
                                            Post
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._interviews)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Slot.StartTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Slot.EndTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Interviewer.FirstName)
                                            </td>
                                            <td>
                                                <a asp-page="/Post/PostDetail" asp-route-id="@item.Application.PostId">View post</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    }
                    break;
                }
            case 4:
                {
                    if (Model._isNewsMode != 2)
                    {
                        //for Applicants
                        if (Model._interviews.Count() != 0)
                        {
                            if (@ViewBag.message1 == null)
                            {
                                <div>No pending interview was found!</div>
                            }
                            else
                            {
                                <span class="text-danger">@ViewBag.message1</span>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model._interviews[0].Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model._interviews[0].Slot.StartTime)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model._interviews[0].Slot.EndTime)
                                            </th>
                                            <th>
                                                Post
                                            </th>
                                            <th>
                                                Inteviewer
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model._interviews[0].Round)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model._interviews)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Date)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Slot.StartTime)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Slot.EndTime)
                                                </td>
                                                <td>
                                                    @{
                                                        foreach (var items2 in Model._post)
                                                        {
                                                            if (items2.Id == item.Application.PostId)
                                                            {
                                                                <a asp-page="/Post/PostDetail" asp-route-id="@items2.Id">Application for Post: @items2.Title</a>

                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Interviewer.FirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Round)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }

                        else
                        {
                            <div>No pending interview was found!</div>
                        }
                    }


                    if (Model._applications.Count != 0)
                    {
                        if (Model._isNewsMode == 2)
                        {
                            if(@ViewBag.message4 != null){
                                <span class="text-danger">@ViewBag.message4</span>
                            }    
                        }
                        else
                        {
                            <span class="text-danger">@ViewBag.message2</span>
                        }
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            CV
                                        </th>
                                        <th>
                                            Application
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._applications)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-page="/CV/ViewCv" asp-route-id="@item.Id">View</a>
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var items2 in Model._post)
                                                    {
                                                        if (items2.Id == item.PostId)
                                                        {
                                                            <a asp-page="/Post/PostDetail" asp-route-id="@items2.Id">Application for Post: @items2.Title</a>

                                                        }
                                                    }
                                                }

                                            </td>


                                            <td>
                                                @{
                                                    switch (item.Status)
                                                    {
                                                        case null:
                                                            {
                                                                <text>Pending</text>
                                                                break;
                                                            }
                                                        case true:
                                                            {
                                                                <text>Passed</text>
                                                                break;
                                                            }
                                                        case false:
                                                            {
                                                                <text>Failed</text>
                                                                break;
                                                            }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                        </table>
                    }
                    //for showing the failed applications
                    if (Model._isNewsMode == 2)
                    {
                        if (Model._applications2.Count != 0)
                        {
                            if (Model._isNewsMode == 2)
                            {
                                if (@ViewBag.message5 != null)
                                {
                                    <span class="text-danger">@ViewBag.message5</span>
                                }

                            }
                            else
                            {
                                <span class="text-danger">@ViewBag.message3</span>
                            }
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            CV
                                        </th>
                                        <th>
                                            Application
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._applications2)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-page="/CV/ViewCv" asp-route-id="@item.Id">View</a>
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var items2 in Model._post)
                                                    {
                                                        if (items2.Id == item.PostId)
                                                        {
                                                            <a asp-page="/Post/PostDetail" asp-route-id="@items2.Id">Application for Post: @items2.Title</a>
                                                        }
                                                    }
                                                }

                                            </td>


                                            <td>
                                                @{
                                                    switch (item.Status)
                                                    {
                                                        case null:
                                                            {
                                                                <text>Pending</text>
                                                                break;
                                                            }
                                                        case true:
                                                            {
                                                                <text>Passed</text>
                                                                break;
                                                            }
                                                        case false:
                                                            {
                                                                <text>Failed</text>
                                                                break;
                                                            }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }
                    break;
                }
        }
    }
    //if user is not in news mode, display the default homepage
    else
    {
        <h1>Home Page</h1>
        if (@ViewBag.message1 != null)
        {
            <span class="text-danger">@ViewBag.message1</span>
            <br>
        }
        if (@ViewBag.message2 != null)
        {
            <span class="text-danger">@ViewBag.message2</span>
            <br>
        }
        if (@ViewBag.message1 != null || @ViewBag.message2 != null)
        {
            <text>
                <a asp-route-newMode="1">Check news now.</a>
                <br>
            </text>
        }
        if (@ViewBag.message3 != null)
        {
            <span class="text-danger">@ViewBag.message3</span>
            <br>
        }
        if (@ViewBag.message3 != null)
        {
            <text>
                <a asp-route-newMode="2">Check your applications.</a>
                <br>
            </text>
        }
        <div class="row">
            <div class="col-md-4">
                <form method="get">
                    <div class="form-group">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        Location:
                                    </td>
                                    <td>
                                        <select asp-for="_locationFilterInput">
                                            <option value="null">All Locations</option>
                                            @foreach (var item in Model._locations)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        Category:
                                    </td>
                                    <td>
                                        <select asp-for="_categoryFilterInput">
                                            <option value="null">All category</option>
                                            @foreach (var item in Model._category)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        Skill:
                                    </td>
                                    <td>
                                        <select asp-for="_skillFilterInput">
                                            <option value="null">All skills</option>
                                            @foreach (var item in Model._skill)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        Level:
                                    </td>
                                    <td>
                                        <select asp-for="_levelFilterInput">
                                            <option value="null">All levels</option>
                                            @foreach (var item in Model._level)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Search:
                                    </td>
                                    <td colspan="6">
                                        <input asp-for="_searchInput" class="form-control" />
                                        <input hidden asp-for="newMode" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="submit" value="Search" class="btn btn-primary" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model._post[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model._post[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model._post[0].EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model._post[0].Amount)
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Level
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._post)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @foreach (var item2 in Model._category)
                            {
                                if (item2.Id == item.CategoryId)
                                {
                                    <text>@item2.Name</text>
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item2 in Model._locations)
                            {
                                if (item2.Id == item.LocationId)
                                {
                                    <text>@item2.Name</text>
                                }
                            }
                        </td>
                        <td>
                            @foreach (var item2 in Model._level)
                            {
                                if (item2.Id == item.LevelId)
                                {
                                    <text>@item2.Name</text>
                                }
                            }
                        </td>
                        <td>
                            <a asp-page="/Post/PostDetail" asp-route-id="@item.Id">Details</a>
                            @if (userRole == 2)
                            {
                                <a class="ps-4" asp-page="/Applications/IndexOnPost" asp-route-postId="@item.Id">View Applications</a>
                                <a class="ps-4" asp-page="/Post/PostDelete" asp-route-id="@item.Id">Delete Post</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    }
}
